<div>
    <label for="fields[{{ fields.uuid }}]">{{ fields.config.label }}</label>
    <select name="fields[{{ fields.uuid }}]" id="" class="">
        {% for option in fields.config.options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
    </div>
</div>