<div class="row mt-3">
    <div class="col-12 col-md-6">
        <div>{{ fields.config.label }} *</div>
        <div class="input-group">
            <input type="text" class="form-control" name="fields[{{ fields.uuid }}][hours]"
                   maxlength="3"
                   placeholder=""
                   aria-label="hours">
            <span class="input-group-text">h</span>

            <input type="text" class="form-control" name="fields[{{ fields.uuid }}][minutes]"
                   maxlength="2"
                   placeholder=""
                   aria-label="minutes">
            <span class="input-group-text">m</span>

            <input type="text" class="form-control" name="fields[{{ fields.uuid }}][secondes]"
                   maxlength="2"
                   placeholder=""
                   aria-label="secondes">
            <span class="input-group-text">s</span>

            <input type="text" class="form-control" name="fields[{{ fields.uuid }}][milliseconds]"
                   maxlength="3"
                   placeholder=""
                   aria-label="milliseconds">
            <span class="input-group-text">ms</span>
        </div>

    </div>
</div>