<div>
    <div>{{ fields.config.label }}</div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="fields[{{ fields.uuid }}][hours]"
               {% if fields.config.mandatory is defined %}required="required"{% endif %} maxlength="3" placeholder=""
               aria-label="">
        <span class="input-group-text">h</span>

        <input type="text" class="form-control" name="fields[{{ fields.uuid }}][minutes]"
               {% if fields.config.mandatory is defined %}required="required"{% endif %} maxlength="2" placeholder=""
               aria-label="">
        <span class="input-group-text">m</span>

        <input type="text" class="form-control" name="fields[{{ fields.uuid }}][secondes]"
               {% if fields.config.mandatory is defined %}required="required"{% endif %} maxlength="2" placeholder=""
               aria-label="">
        <span class="input-group-text">s</span>

        <input type="text" class="form-control" name="fields[{{ fields.uuid }}][milliseconds]"
               {% if fields.config.mandatory is defined %}required="required"{% endif %} maxlength="3" placeholder=""
               aria-label="">
        <span class="input-group-text">ms</span>

    </div>
</div>