{% extends 'base.html.twig' %}

{% block title %}Edit {{ category.name }} - {{ game.name }} - Hub Speedrun{% endblock %}

{% block body %}
    {{ include('games/includes/cardGame.html.twig') }}

    <div class="container mt-4">

        <div {{ stimulus_controller('addFields') }}>
            {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

    </div>

{% endblock %}
