{% extends 'base.html.twig' %}

{% block title %}Categories - {{ game.name }} - Hub Speedrun{% endblock %}

{% block body %}

    {{ include('games/includes/cardGame.html.twig') }}

    <div class="container mt-4 ">
        {# Style in _verification.scss #}
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-validation" href="{{ path('app_categories_new', {'rewrite' : game.rewrite}) }}">Create new</a>
        </div>

        <table id="tableCategories" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr class="rowLeaderboard noPointer">
                        <td>{{ category.name }}</td>
                        <td class="text-center">
                            <a class="btn btn-primary" href="{{ path('app_categories_edit', {'uuid': category.uuid, 'rewrite' : game.rewrite}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no categories found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}
