{% extends 'base.html.twig' %}

{% block title %}Runs index{% endblock %}

{% block body %}
    <h1>Runs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uuid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for run in runs %}
            <tr>
                <td>{{ run.id }}</td>
                <td>{{ run.uuid }}</td>
                <td>
                    {#<a href="{{ path('app_runs_show', {'id': run.id}) }}">show</a>
                    <a href="{{ path('app_runs_edit', {'id': run.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('app_runs_new') }}">Create new</a>#}
{% endblock %}
