<div {{ stimulus_controller('manageSelect', { 'uuid': uuid } ) }}>

    <div class='input-group mb-3'>
        <input type='text' class='form-control' name='categories[fields][select.{{ uuid }}][label]'
               placeholder='Title' aria-label='Title'>
    </div>
    <div class='form-check form-switch'>
        <input class='form-check-input checkboxValue' name='categories[fields][select.{{ uuid }}][subcategory]'
               type='checkbox' role='switch' id=''>
        <label class='form-check-label' for='flexSwitchCheckDefault'>SubCategorie ?</label>
    </div>
    <div class='input-group mb-3'>
        <input type='text' class='form-control' name='categories[fields][select.{{ uuid }}][option.1]'
               placeholder='Option' aria-label=''>
        <button class="btn btn-outline-secondary deleteButtonSelect" type="button" id="">Delete</button>
    </div>
    <div class='input-group mb-3'>
        <input type='text' class='form-control' name='categories[fields][select.{{ uuid }}][option.2]'
               placeholder='Option' aria-label=''>
        <button class="btn btn-outline-secondary deleteButtonSelect" type="button" id="">Delete</button>
    </div>

    <div id="newOptions"></div>

    <div class='input-group mb-3'>
        <button id="addButton" class="btn btn-outline-secondary Oui oui oui" type="button">Add Options</button>
    </div>

    <div class='input-group mb-3'>
        <button class="btn btn-outline-secondary deleteFieldButtons" type="button">Delete Field</button>
    </div>
</div>
