<div id="subCategoriesWrapper">
    <form id="subCategoriesForm" name="subCategoriesForm">
        {% for subcategory in subCategories %}
            <div class="labelOption"
                 data-value="{{ subcategory.config['label'] }}">{{ subcategory.config['label'] }}</div>
            {# {% if subcategory.config["options"] | length > 3 %} #}
            <select name="" class="subCategories" id="" data-item-label-param="{{ subcategory.config['label'] }}" data-item-category-param="{{ category.uuid }}" {{ stimulus_action('leaderboard', 'loadRuns') }}>
                {% for option in subcategory.config['options'] %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            {# {% else %}
            {% for option in subcategory.config['options'] %}
                <button class="subCategories" value="{{ option }}" data-item-category-param="{{ category.uuid }}" {{ stimulus_action('leaderboard','loadRuns') }}>{{ option }}</button>
            {% endfor %}
        {% endif %} #}
        {% endfor %}
    </form>
</div>
