{% extends 'base.html.twig' %}

{% block title %}Moderations index{% endblock %}

{% block body %}
    <h1>Moderations index</h1>

    {% if moderations is not empty %}
        {% for moderation in moderations %}
            <h2>{{ moderation.role.name }}</h2>
            {% for user in moderation.users %}
                <h3>{{ user.username }}</h3>
            {% endfor %}
        {% endfor %}
    {% endif %}


    <button type="button" data-bs-toggle="modal" data-bs-target="#addUserModeration">Add User</button>

    <div class="modal fade" id="addUserModeration" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add user to moderation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" {{ stimulus_controller('manageUserModeration', {
                    rewrite : game.rewrite
                }) }}>
                    {{ form_start(form, {'attr' : { id : 'manageUsersModeration'} }) }}

                    {{ form_label(form.refUsers) }}
                    {{ form_widget(form.refUsers) }}

                    {{ form_widget(form.refGames) }}



                    {{ form_end(form, {render_rest: false } ) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
