{% extends 'base.html.twig' %}

{% block title %}Admins - Hub Speedrun{% endblock %}

{% block body %}

    <div class="container mt-5">

        <h1>Manage Admins</h1>
        {% if admins|length == 0 %}
            <p>No admins found</p>
        {% else %}
            <div class="d-flex column-gap-3 mt-3">
                {% for admin in admins %}
                    <p>{{ admin.username }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#manageAdmin">
            Manage Admins
        </button>

        <div class="modal fade" id="manageAdmin" tabindex="-1" aria-labelledby="manageAdmin"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Manage admins</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body" {{ stimulus_controller('manageAdmins') }}>
                        {{ form_start(form, {'attr' : { id : 'manageAdminForm'} }) }}

                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}

                        <div class="mt-3 d-flex justify-content-between">
                            <button {{ stimulus_action('manageAdmins', 'delete')}} class="btn btn-delete align-self-end">Delete Admin</button>
                            <button {{ stimulus_action('manageAdmins', 'add')}} class="btn btn-validation align-self-end">Add Admin</button>
                        </div>
                        {{ form_end(form, {render_rest: false } ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
